Repository Gyanthakur/LeetCode_potd, pull requests merged in 2024-10, with the labels that each got.

#7 Added Leetcode potd_01_10_2024.cpp
  october_2024/potd_01_10_2024.cpp
Labels: good first issue, hacktoberfest-accepted, hactoberfest2024

#8 02_potd_add
  october_2024/potd_02_10_2024.cpp
Labels: Hacktoberfest, hacktoberfest-accepted, hactoberfest2024

#9 Add potd_03_10_2024.java
  october_2024/potd_03_10_2024.java
Labels: Hacktoberfest, hacktoberfest-accepted, hactoberfest2024

#10 added 03/10/2024_potd cpp language
  october_2024/potd_03_10_2024.cpp
Labels: good first issue, Hacktoberfest, hacktoberfest-accepted, hactoberfest2024

#13 Solved potd 4/10/2024 in cpp
  october_2024/potd_04_10_2024.cpp
Labels: good first issue, Hacktoberfest, hacktoberfest-2023, hacktoberfest-accepted

#20 Improve Readability of Bracket Balancing Code #19
  october_2024/balanced_brackets.cpp
Labels: Hacktoberfest, hactoberfest2024, Hactoberfest-2024, hactoberfest-2k24

#25 Added potd 11_10_2024
  october_2024/potd_11_10_2024.cpp
Labels: Hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#27 solution to Minimum String Length After Removing Substrings
  october_2024/potd_07_10_2024.cpp
  october_2024/potd_08_10_2024.cpp
Labels: Hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#28 Added POTD 12-10-2024
  october_2024/potd_12_10_2024.cpp
Labels: Hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#30 Create potd_13_10_2024.cpp
  october_2024/potd_13_10_2024.cpp
Labels: Hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#32 Solution to potd of 14-10-2024
  october_2024/potd_14_10_2024.cpp
Labels: Hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#38 added the solution for potd of 15-10-2024
  october_2024/potd_15_10_2024.cpp
Labels: Hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#39 Updated potd_15_10_2024.cpp
  october_2024/potd_15_10_2024.cpp
Labels: Hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#40 Added the potd October 16 With DryRun
  october_2024/potd_16_10_2024.cpp
Labels: Hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024

#46 Create potd_24_10_2024.cpp
  october_2024/potd_24_10_2024.cpp
Labels: Hacktoberfest, hacktoberfest-accepted, hacktoberfest_2024
